body{
	background: url(http://7xoq4g.com1.z0.glb.clouddn.com/bg001.jpg) 0px 0px repeat rgb(229, 230, 208);
}
header{
	width: 100%;
	height:10em;
	background-color: #D8BFD8;
	opacity: .6;
}
.logo{
	width: 3em;
	height: 3em;
	padding:3em 0px 3em 2em;
}
/*内容部分*/
.nav a{
	width: 10em;
	height: 5em;
	border:1px solid white;
	margin-right: 10em;
	/*padding-bottom: 5em;*/
}
.flower{
	background-image: url(http://7xoq4g.com1.z0.glb.clouddn.com/zhifu.jpg);
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}
table{
	background: #2a5caa;
}
table td{
	border: 1px dashed #b7ba6b;
}
@media screen and (max-width:960px){
	._titlesk div{	
		padding-left: 0em;
	}
	.jiaoqiang table{
		float:none;
	}
	.chechuan{
		width: 505px;
	}
}
footer{
	width: 100%;
	height:105px;
	background-color: #D8BFD8;
}